---
BasedOnStyle: Google
Language: Cpp
Standard: c++20

# Use 2-space indent
IndentWidth: 2
TabWidth: 2
UseTab: Never

# Maximum 120 characters per line
ColumnLimit: 120

# Left alignment for pointers and references
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Shift access modifiers one character left
AccessModifierOffset: -1

# Regroup and sort headers
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex:  '^<windows\.h>$'   # windows.h is always top
    Priority: 1
  - Regex:  '^<ext/.*\.h>'     # GCC extension headers
    Priority: 3
  - Regex:  '^<.*\.h>'         # C system headers
    Priority: 2
  - Regex:  '^<.*'             # Qt C++ standard library and Qt headers
    Priority: 3
  - Regex:  '.*'               # Project headers
    Priority: 4

# Miscellaneous
AllowShortFunctionsOnASingleLine: Inline    # Allow single line implementation for inline function only
AllowShortIfStatementsOnASingleLine: Never  # Never allow single line implementation for if statement
AllowShortLoopsOnASingleLine: false         # Never allow single line implementation for loop statement
BreakBeforeBraces: Custom                   # Break a line before try-catch or if-else statement
BraceWrapping:
  AfterCaseLabel:        false
  AfterClass:            false
  AfterControlStatement: Never
  AfterEnum:             false
  AfterFunction:         false
  AfterNamespace:        false
  AfterStruct:           false
  AfterUnion:            false
  AfterExternBlock:      false
  BeforeCatch:           true
  BeforeElse:            true
  BeforeLambdaBody:      false
  BeforeWhile:           false
  IndentBraces:          false
  SplitEmptyFunction:    false
  SplitEmptyRecord:      false
  SplitEmptyNamespace:   false
Cpp11BracedListStyle: false                 # Add space between braces and elements
InsertNewlineAtEOF: true                    # Always end a file with a newline
SpaceBeforeParens: ControlStatements        # Use space before control statements only