/Projects/DigitalLogicSimulator/.idea
/Projects/DigitalLogicSimulator/build
/Projects/DigitalLogicSimulator/build-tidy
/Projects/FileEncryption/.idea
/Projects/FileEncryption/build
/Projects/FileEncryption/build-asan
/Projects/FileEncryption/build-cov
/Projects/FileEncryption/build-rel
/Projects/FileEncryption/build-tidy
/Projects/FileEncryption/build-tsan
/Projects/FileEncryption/cmake-build-debug
/Projects/PasswordManager/.idea
/Projects/PasswordManager/build
/Projects/PasswordManager/cmake-build-debug
